nav > ul {
    display: flex 
    
}
li{
    text-decoration: none;
    margin-right: 250px;
    list-style: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
}
nav li:hover{
    background-color: gray;
}
nav{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
article{
    margin-top: 100px;
}
main{
    background-color: blue;
}
footer{
    margin-top: 0px;
    height: max-content;
    background-color: yellowgreen;
    text-align: center;
}